@model Taller1PY.Models.Equipo

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <h1 class="text-center">Eliminar Equipo</h1>
    <hr />
    <h3 class="text-center">¿Está seguro de que desea eliminar esto?</h3>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4>Equipo</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Ciudad)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Ciudad)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Titulos)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Titulos)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AceptaExtranjeros)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AceptaExtranjeros)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>
